body, html {
  margin:0;
  padding:0;
  height: 100%;
}
* {
  box-sizing: border-box;
}

header, footer {
background-color: #444;
color:white;
height:260;
width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 3em;
  line-height: 70px;
}

nav {
  border: 1px solid white;
  padding: 20px;
  overflow: hidden;
}

nav img {
  float:left;
}

nav ul {
  float:left;
}

main {
  margin: 30px auto;
  width: 960px;
}

.card header {
  background:white;
  height: 2em;
  width: auto;
}

div.card {
  padding:0;
}

main ul .card {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
main ul li .card {
  display: inline-block;
  width: 300;
  /* padding: 0 3em; */
  /* line-height: 70px; */
}

main ul li .card {
  float:left;
}
main ul img {
  margin: 10px;
}

main div .card2 img {
  float:left;
}

footer {
  height:112px;
}