* {
  box-sizing: border-box;
}
body, html {
  margin:0;
  padding:0;
  height: 100%;
  font-family: sans-serif;
}

#logo {
  margin-right: 50px;
}

body {
  position: relative;
}

#top {
background-color: #444;
color:white;
/* height:260; */
/* width: 100%; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


nav {
  border: 1px solid rgb(255, 255, 255);
  padding: 20px 150px;
  overflow: hidden;
}

nav img {
  float:left;
}

nav ul {
  float:left;
}

nav ul li {
  display: inline-block;
  padding: 30px;
  margin-right: 7px;
  margin-left: 7px;
}
main {
  margin: 30px auto;
  width: 960px;
  /* clear: both; */
}


/* puts 3 boxes inline */
main ul li .card {
  float:left;
}

main ul img {
  /* margin: auto; */
}

#leftImg {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

#middleImg {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}

#rightImg {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

main #Featured {
  background-color: white;
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
}

 .twoCard {
  margin-top:30px;
  float:right;
}

main .twoCard img {
  float: left;
  margin-right: 10px;
}

main .twoCard p {
  font-style: italic;
  overflow: auto;
  height:330px;
}

main .twoCard #callToAction {
  float: left;
  background-color: black;
  color:white;
  margin-top: 10px;
  padding:5px;
}

button {
  background-color: black;
  color: white;
  font-size: 15px;
  border: none;
}

footer {
  background-color: #444;
  color:white;
  height:112px;
  width: 100%;
  bottom:0;
  float: right;
  margin-top: 30px;
}