body, html {
  margin:0;
  padding:0;
  height: 100%;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

header, footer {
background-color: #444;
color:white;
/* height:260; */
/* width: 100%; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 3em;
  line-height: 70px;
}

nav {
  border: 1px solid white;
  padding: 20px 150px;
  overflow: hidden;
}

nav img {
  float:left;
}

nav ul {
  float:left;
}

main {
  margin: 30px auto;
  width: 960px;
}


/* puts 3 boxes inline */
main ul li .card {
  float:left;
}

main ul img {
  margin: 10px;
}

main #Featured {
  background-color: white;
  color: black;
  font-size: 20px;
  margin-bottom: 5px;
}

main div .twoCard {
  float:right;
}

main .twoCard img {
  float: left;
  margin-right: 10px;
}

main .twoCard p {
  font-style: italic;
  overflow: scroll;
  height:340px;
}

main .twoCard #callToAction {
  float: left;
  background-color: black;
  color:white;
  padding:10px;
}

footer {
  height:112px;
  margin-top: 70px;
}